fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
pydantic[email]
email-validator
python-jose[cryptography]
passlib[bcrypt]
python-multipart
chromadb
openai
groq
pymupdf
pdfplumber
python-docx
alembic
python-dotenv
